<#import "../ui.ftl" as ui/>

<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->

<html>
<body>
<h1>Availiable tickets</h1>
<hr>

<#--list-->


<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/voting" buttonName="voting page"/>-->
<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>-->
<#--<hr>-->



</body>
</html>