<div class="addingAircraftSuperr" id="addingAircraftSuperr">
    <form action="http://localhost:8080/infr/superr/addAircraft" method="POST">
        distro: <input type="text" name="distro" id="distro" required/>
        model: <input type="text" name="model" id="model" required/>
        age: <input type="text" name="age" id="age" required/>
        maxCapacity: <input type="text" name="maxCapacity" id="maxCapacity" required/>
        amountOfSeats: <input type="text" name="amountOfSeats" id="amountOfSeats" required/>
        <input type="submit" value="add"/>
    </form>
</div>