<div class="addingAirportSuperr" id="addingAirportSuperr">
    <form action="http://localhost:8080/infr/superr/addAirport" method="POST">
        location: <input type="text" name="location" id="location" required/>
        name: <input type="text" name="name" id="name" required/>
        <input type="submit" value="add"/>
    </form>
</div>