<div class="addingCountryCitySuperr" id="addingCountryCitySuperr">
    <form action="http://localhost:8080/infr/superr/addCountryCity" method="POST">
        country: <input type="text" name="country" id="country" required/>
        city: <input type="text" name="city" id="city" required/>
        <input type="submit" value="add"/>
    </form>
</div>