<div class="addingPathSuperr" id="addingPathSuperr">
    <form action="http://localhost:8080/infr/superr/addPath" method="POST">
        fromAirport: <input type="text" name="fromAirport" id="fromAirport" required/>
        toAirport: <input type="text" name="toAirport" id="toAirport" required/>
        <input type="submit" value="add"/>
    </form>
</div>