<div class="loginFromForSiteCustomerWithAjax" id="loginFromForSiteCustomerWithAjax">
    <form>
        email: <input type="text" name="email" id="siteCustomerEmail" required/>
        password: <input type="text" name="password" id="siteCustomerPassword" required/>
        RememberMe: <input type="radio" name="rememberMe" id="siteCustomerRememberMe" required/>
<#--        <input type="submit"/>-->
    </form>

    <button onclick="sendAjaxToServerToLoginSiteCustomer('http://localhost:8080/login',
        document.getElementById('siteCustomerEmail').value,
        document.getElementById('siteCustomerPassword').value,
        document.getElementById('siteCustomerRememberMe').value
    )">login</button>


</div>

