<div class="loginFromForSiteWorkerWithAjax" id="loginFromForSiteWorkerWithAjax">
    <form>
        email: <input type="text" name="email" id="siteWorkerEmail" required/>
        password: <input type="text" name="password" id="siteWorkerPassword" required/>
        RememberMe: <input type="radio" name="rememberMe" id="siteWorkerRememberMe" required/>
        <#--        <input type="submit"/>-->
    </form>

    <button onclick="sendAjaxToServerToLoginSiteWorker('http://localhost:8080/infr/login',
        document.getElementById('siteWorkerEmail').value,
        document.getElementById('siteWorkerPassword').value,
        document.getElementById('siteWorkerRememberMe').value
    )">login</button>


</div>