<div class="registrationFromForSiteCustomerWithAjax" id="registrationFromForSiteCustomerWithAjax">
    <form>
        email: <input type="text" name="email" id="siteCustomerEmail" required/>
        password: <input type="text" name="password" id="siteCustomerPassword" required/>
        PassportCountry: <input type="text" name="passportCountry" id="siteCustomerPassportCountry" required/>
        passportDigits: <input type="text" name="passportDigits" id="siteCustomerPassportDigits" required/>

        firstName: <input type="text" name="firstName" id="siteCustomerFirstName" required/>
        lastName: <input type="text" name="lastName" id="siteCustomerLastName" required/>
        patronymic: <input type="text" name="patronymic" id="siteCustomerPatronymic" required/>
        age: <input type="text" name="age" id="siteCustomerAge" required/>
        phoneNumber: <input type="text" name="phoneNumber" id="siteCustomerPhoneNumber" required/>
<#--        role: <input type="text" name="role" id="siteCustomerRole" required/>-->
<#--        <input type="submit"/>-->
    </form>

    <button onclick="sendAjaxToServerToRegisterSiteCustomer('http://localhost:8080/reg',
        document.getElementById('siteCustomerEmail').value,
        document.getElementById('siteCustomerPassword').value,
        document.getElementById('siteCustomerPassportCountry').value,
        document.getElementById('siteCustomerPassportDigits').value,
        document.getElementById('siteCustomerFirstName').value,
        document.getElementById('siteCustomerLastName').value,
        document.getElementById('siteCustomerPatronymic').value,
        document.getElementById('siteCustomerAge').value,
        document.getElementById('siteCustomerPhoneNumber').value,
    )">register</button>


</div>

