<#import "../../ui.ftl" as ui/>

<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superr - adding airport</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="../../../../../js/ajaxAutoComplete.js"></script>
    <script>
        ajaxAutoComplete('http://localhost:8080/infr/system/countryCity', '#location');
    </script>
</head>
<body>
<h1>im adding airport</h1>
<hr>

<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/voting" buttonName="voting page"/>-->
<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>-->
<#--<hr>-->

<#include '../../parts/addingAirportFormSuperr.ftl'>

<#--<div class="ui-widget">-->
<#--    <label for="tags">Tags: </label>-->
<#--    <input id="tags">-->
<#--</div>-->

<br>
<@ui.form1Value action="http://localhost:8080/infr/home" method="GET" inputType="submit" inputValue="home"/>


</body>
</html>



///

