<#import "../../ui.ftl" as ui/>

<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->

<html>
<body>
<h1>adding aircraft page</h1>
<hr>

<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/voting" buttonName="voting page"/>-->
<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>-->
<#--<hr>-->

<#include '../../parts/addingAircraftFormSuperr.ftl'>

<br>
<@ui.form1Value action="http://localhost:8080/infr/home" method="GET" inputType="submit" inputValue="home"/>


</body>
</html>