<#import "../../ui.ftl" as ui/>

<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->

<html>
<body>
<h1>im superr, home</h1>
<hr>
<@ui.form1Value action="http://localhost:8080/logOut" method="POST" inputType="submit" inputValue="logOut"/>

<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/voting" buttonName="voting page"/>-->
<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>-->
<#--<hr>-->
<@ui.form1Value action="http://localhost:8080/infr/superr/addCountryCity" method="GET" inputType="submit" inputValue="add_country_City"/>

<@ui.form1Value action="http://localhost:8080/infr/superr/addAirport" method="GET" inputType="submit" inputValue="add_Airport"/>

<@ui.form1Value action="http://localhost:8080/infr/superr/addAircraft" method="GET" inputType="submit" inputValue="add_Aircraft"/>

<@ui.form1Value action="http://localhost:8080/infr/superr/addPath" method="GET" inputType="submit" inputValue="add_Path"/>

<br>
<@ui.form1Value action="http://localhost:8080/logOut" method="POST" inputType="submit" inputValue="logOut"/>


</body>
</html>