<#import "../../ui.ftl" as ui/>
<html>
<body>

<h1><i>SITE_WORKER_LOGIN</i></h1>

<#--<@ui.form2 action="http://localhost:8080/login" method='POST' value="login"/>-->


<#include '../../parts/loginFormSiteWorker.ftl'>

<hr>
<@ui.form1Value action="http://localhost:8080/login" method="GET" inputType="submit" inputValue="enter_as_customer"/>
<hr>

<#--<hr>
<@ui.form1Value action="http://localhost:8080/home" method="GET" inputType="submit" inputValue="home"/>
<hr>-->


<script src="../../../../../js/loginWorker.js"></script>

</body>
</html>