<#import "../../ui.ftl" as ui/>
<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->

<html>
<body>
<h1>im customer, home</h1>
<hr>



<@ui.form1Value action="/logOut" method="POST" inputType="submit" inputValue="logOut"/>

<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/voting" buttonName="voting page"/>-->
<#--<hr>-->
<#--<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>-->
<#--<hr>-->



</body>
</html>