<#import "../../ui.ftl" as ui/>

<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->

<html>
<body>
<h1>welcome </h1>
<hr>
<@ui.ButtonToGoToLink href="http://localhost:8080/reg" buttonName="register"/>
<hr>
<@ui.ButtonToGoToLink href="http://localhost:8080/login" buttonName="log in"/>
<hr>

<#--<script>
    alert("d")
    jQuery.ajaxSend()
    isAdmin = confirm("Вы - администратор?");
    alert(isAdmin);
    //alert('Вам ' + years + ' лет!')
</script>-->




</body>
</html>