<#import '../ui.ftl' as ui>

<html>
<body>
<h1>ssecret page</h1>

<h1>results:</h1>

<#list voteCandidateAmountVoted as res,d>
    <li>${res} = ${d}</li>
</#list>

<hr>
<@ui.form1Value action="http://localhost:8080/logOut" method="POST" inputType="submit" inputValue="logOut"/>
<hr>

<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>

</body>
</html>