<#import "../ui.ftl" as ui/>

<#--<#list siteUsers as siteUser>-->
<#--    <li>${siteUser.login}</li>-->
<#--</#list>-->

<html>
<body>
<h1>secret page</h1>
<hr>
<@ui.form1Value action="http://localhost:8080/logOut" method="POST" inputType="submit" inputValue="logOut"/>

<hr>
<@ui.ButtonToGoToLink href="http://localhost:8080/voting" buttonName="voting page"/>
<hr>
<@ui.ButtonToGoToLink href="http://localhost:8080/" buttonName="'choosing tasks' page"/>
<hr>

</body>
</html>