<#--
<#import '../ui.ftl' as ui>
<html>
<body>
<h1>you have been registered</h1>

<@ui.form1Value action="http://localhost:8080/login" method='GET' inputType="submit" inputValue="to login page" />

</body>
</html>-->
