<#import '../../ui.ftl' as ui>
<html>
<head>

</head>
<body>
<h1><i>REGISTRATION</i></h1>

<#--<@ui.form2 action="http://localhost:8080/reg" method='POST' value="register" />
<hr>-->

<#include '../../parts/registrationFormSiteCustomer.ftl'>

<@ui.form1Value action="http://localhost:8080/login" method='GET' inputType="submit" inputValue="i_already_have_account" />
<#--<hr>-->
<#--<@ui.form1Value action="http://localhost:8080/home" method="GET" inputType="submit" inputValue="home"/>-->
<#--<hr>-->

<hr>
<@ui.form1Value action="http://localhost:8080/home" method="GET" inputType="submit" inputValue="home"/>
<hr>

<script src="../../../../../js/regSiteCustomer.js"></script>


</body>
</html>