<#import "../../ui.ftl" as ui/>
<html>
<body>

<h1><i>LOGIN</i></h1>

<#--<@ui.form2 action="http://localhost:8080/login" method='POST' value="login"/>-->


<#include '../../parts/loginFormSiteCustomer.ftl'>

<hr>
<@ui.form1Value action="http://localhost:8080/reg" method="GET" inputType="submit" inputValue="i_dont_have_account_yet"/>
<hr>

<hr>
<@ui.form1Value action="http://localhost:8080/infr/login" method="GET" inputType="submit" inputValue="enter_as_worker"/>
<hr>

<#--<hr>
<@ui.form1Value action="http://localhost:8080/home" method="GET" inputType="submit" inputValue="home"/>
<hr>-->

<hr>
<@ui.form1Value action="http://localhost:8080/home" method="GET" inputType="submit" inputValue="home"/>
<hr>

<script src="../../../../../js/loginSiteCustomer.js"></script>
<#--<script>-->
<#--    <#include '../../../../../js/loginSiteCustomer.js'>-->
<#--</script>-->

</body>
</html>